/* variables  */
:root{
--StrongCyan: hsl(172, 67%, 45%);
--veryDarkCyan: hsl(183, 100%, 15%);
--darkGrayishCyan: hsl(186, 14%, 43%);
--grayishCyan: hsl(184, 14%, 56%);
--lightGrayishCyan: hsl(185, 41%, 84%);
--veryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

/* font */
@font-face {
    font-family: spaceMono;
    src: url('/fonts/SpaceMono-Regular.ttf');
}
/* general styling*/
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: spaceMono, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* styling for the calculator's background*/
main{
    background-color: var(--lightGrayishCyan);
    min-height: 100vh;
    min-width: 100%;
    padding: 5rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

main h1{
    max-width: 5.5ch;
    word-wrap: break-word;
    letter-spacing: .3rem;
    line-height: 1.5;
    color: var(--veryDarkCyan);
    margin:0 auto 2rem;
}

/* styling for the main calculator*/
main .main-calculator{
    background-color: var(--White);
    min-height: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 2rem 0 4rem;
}

/* styling for the first section*/
.main-calculator .left{
    max-width: 90%;
    margin: auto;
}

.main-calculator .left .bill{
    margin: 0 0 2rem;
    position: relative;
}

.main-calculator .left .bill .dollar{
    position: absolute;
    top:3.5rem;
    left:1.5rem;
}

.main-calculator .left .bill p{
    font-size: 1.5rem;
    color: var(--darkGrayishCyan);
    font-weight: 700;
    margin: 0 0 .4rem;
}

.main-calculator .left .bill input{
    width: 100%;
    padding: .8rem;
    border: none;
    background-color: var(--veryLightGrayishCyan);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--veryDarkCyan);
    letter-spacing: .1rem;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.main-calculator .left .select-tip{
    margin: 0 0 2rem;
}

.main-calculator .left .select-tip p{
    font-size: 1.5rem;
    margin: 0 0 1.4rem;
    color: var(--darkGrayishCyan);
    font-weight: 700;
}

.main-calculator .left .select-tip .buttons-and-input-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(10rem, 1fr)
    );
    column-gap: 1rem;
    row-gap: 1rem;
}

.main-calculator .left .select-tip .buttons-and-input-container button{
    background-color: var(--veryDarkCyan);
    border: none;
    outline: none;
    color: var(--veryLightGrayishCyan);
    font-weight: 600;
    font-size: 1.8rem;
    padding: .8rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    font-family: spacemono;
}

.main-calculator .left .select-tip .buttons-and-input-container button.picked{
    background-color: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);
}

.main-calculator .left .select-tip .buttons-and-input-container input{
    border: none;
    outline: none;
    background-color: var(--veryLightGrayishCyan);
    color: var(--veryDarkCyan);
    font-weight: 700;
    font-size: 1.6rem;
    padding: .8rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.main-calculator .left .number{
    margin: 0 0 2rem;
    position: relative;
}

.main-calculator .left .number .person{
    position: absolute;
    top:3.9rem;
    left:1.5rem;
}

.main-calculator .left .number p{
    font-size: 1.5rem;
    color: var(--darkGrayishCyan);
    font-weight: 700;
    margin: 0 0 .8rem;
}

.main-calculator .left .number input{
    width: 100%;
    padding: .8rem;
    border: none;
    background-color: var(--veryLightGrayishCyan);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--veryDarkCyan);
    letter-spacing: .1rem;
    text-align: right;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.main-calculator .left .number .heading{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-calculator .left .number input.warning{
    border:1px solid red;
}

.main-calculator .left .number .warning-p{
    font-weight: 100;
    color:red;
    display: none;
}
/* styling for the right side*/
.main-calculator .right{
    max-width: 90%;
    margin: auto;
    background-color: var(--veryDarkCyan);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 3rem 2rem 2rem;
}

.main-calculator .right .tip-amount,
.main-calculator .right .total-amount
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.main-calculator .right .tip-amount .tip-amount-title p,
.main-calculator .right .total-amount .total-amount-title p
{
    color: var(--White);
    font-size: 1.4rem;
    font-weight: 700;
}

.main-calculator .right .tip-amount .tip-amount-title small,
.main-calculator .right .total-amount .total-amount-title small
{
    color: var(--lightGrayishCyan);
    font-size: 1.2rem;
    opacity: .5;
    font-weight: 700;
}

.main-calculator .right .tip-amount .actual-tip-amount p,
.main-calculator .right .total-amount .actual-total-amount p
{
    font-size: 3rem;
    font-weight: 700;
    color: var(--StrongCyan);
}

.main-calculator .right button{
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    background-color: var(--StrongCyan);
    color: var(--veryDarkCyan);
    font-weight: 700;
    font-family: spaceMono, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
}

/* styling for tablets  */
@media screen and (min-width:600px) {
    /* styling for the first section*/
.main-calculator .left{
    max-width: 70%;
}

/* styling for the right side*/
.main-calculator .right{
    max-width: 70%;
}
}

/* styling for desktops */
@media screen and (min-width:850px) {
    main{
        display: block;
    }

/* styling for the main calculator*/
main .main-calculator{
    min-height: none;
    height: fit-content;
    margin: auto;
    max-width: 80rem;
    display: flex;
    align-items: flex-start;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 2rem 0 2rem;
}

    /* styling for the first section*/
    .main-calculator .left{
        max-width: 100%;
        width:40%;
    }

    /* styling for the right side*/
.main-calculator .right{
    max-width: 100%;
    width:50%;
    margin: 0 auto;
    height: 30rem;
}

.main-calculator .right button{
    position: relative;
    top:8rem;
}
}

/* hover styles*/
.main-calculator .left .bill input:hover,
.main-calculator .left .bill input:focus,
.main-calculator .left .select-tip .buttons-and-input-container input:hover,
.main-calculator .left .number input:hover
{
    border:2px solid var(--StrongCyan);
    cursor: pointer;
}

.main-calculator .left .select-tip .buttons-and-input-container button:hover,
.main-calculator .right button:hover
{
    background-color: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);
    cursor: pointer;
}

